<!DOCTYPE html>
<html lang="en">
<head>
    <%= _.template(require('./../inc/head.html').default)() %>
</head>
<body class="grid homepage">
    <%= _.template(require('./../inc/header.html').default)() %>

    <section class="grid__area banner" style="--grid-area: banner">
        <div class="banner__wrapper">
            <img src="<%= require("../../img/logo.svg") %>" class="logo" alt="logo">
            <h1 class="banner__block banner__title">The future of digital photos.</h1>
            <p class="banner__block banner__block_type_description">
                The H(app)y app is the latest & greatest in phone photography. It's available in the App Store right now. Go check it out!
            </p>

            <div class="banner__btn-group">
                <button class="banner__btn btn btn_color_black">Download</button>
                <button class="banner__btn btn btn_color_black">Read more</button>
            </div>
        </div>
    </section>

    <section class="grid__area phones bg bg_color_black flex flex_ai_center flex_ff_c_nw main-beginning" style="--grid-area: phones">
        <h6 class="main-beginning__title text text_type_small_title text_color_white">Features</h6>
        <h2 class="main-beginning__subtitle text text_color_white phones__description">The latest & greatest in phone photography.</h2>
        <div class="phones__grid offers-grid">
            <div class="offers-grid__block bg flex flex_ai_end" style="background-image: url('<%= require('./../../img/empty-phone.png') %>')">
                <div class="offers-grid__content bg bg_color_white-gray offers-grid__content_color_blue">
                    <img src="<%= require("./../../img/icon/calendar.svg") %>" class="offers-grid__content-img" alt="icon">
                    <p class="offers-grid__content-title text text_position_center text_size_x1_2">
                        Calendar view
                    </p>
                    <p class="offers-grid__content-description text text_position_center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus.
                    </p>
                </div>
            </div>
            <div class="offers-grid__block bg flex flex_ai_end" style="background-image: url('<%= require('./../../img/phone-2.png') %>')">
                <div class="offers-grid__content bg bg_color_white-gray offers-grid__content_color_red">
                    <img src="<%= require("./../../img/icon/menu.svg") %>" class="offers-grid__content-img" alt="icon">
                    <p class="offers-grid__content-title text text_position_center text_size_x1_2">
                        Lists
                    </p>
                    <p class="offers-grid__content-description text text_position_center">
                        Dolor sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt.
                    </p>
                </div>
            </div>
            <div class="offers-grid__block bg flex flex_ai_end" style="background-image: url('<%= require('./../../img/empty-phone.png') %>')">
                <div class="offers-grid__content bg bg_color_white-gray offers-grid__content_color_orange">
                    <img src="<%= require("./../../img/icon/aa.svg") %>" class="offers-grid__content-img" alt="icon">
                    <p class="offers-grid__content-title text text_position_center text_size_x1_2">Varied type</p>
                    <p class="offers-grid__content-description text text_position_center">
                        Nulla rhoncus feugiat eros quis consectetur. Morbi neque ex, condimentum dapibus congue.
                    </p>
                </div>
            </div>
            <div class="offers-grid__block bg flex flex_ai_end" style="background-image: url('<%= require('./../../img/phone-1.png') %>')">
                <div class="offers-grid__content bg bg_color_white-gray offers-grid__content_color_pink">
                    <img src="<%= require("./../../img/icon/content.svg") %>" class="offers-grid__content-img" alt="icon">
                    <p class="offers-grid__content-title text text_position_center text_size_x1_2">
                        Split-screen
                    </p>
                    <p class="offers-grid__content-description text text_position_center">
                        Vestibulum ultrices, orci nec egestas pharetra, ligula est semper enim, nec auctor sapien leo nec purus.
                    </p>
                </div>
            </div>
            <div class="offers-grid__block bg flex flex_ai_end" style="background-image: url('<%= require('./../../img/empty-phone.png') %>')">
                <div class="offers-grid__content bg bg_color_white-gray offers-grid__content_color_gay">
                    <img src="<%= require("./../../img/icon/arrow-up.svg") %>" class="offers-grid__content-img" alt="icon">
                    <p class="offers-grid__content-title text text_position_center text_size_x1_2">Uploads</p>
                    <p class="offers-grid__content-description text text_position_center">
                        Duis tristique sed lorem a vestibulum. Cras commodo consequat orci, in convallis risus egestas non.
                    </p>
                </div>
            </div>
            <div class="offers-grid__block bg flex flex_ai_end" style="background-image: url('<%= require('./../../img/phone-3.png') %>')">
                <div class="offers-grid__content bg bg_color_white-gray offers-grid__content_color_violet">
                    <img src="<%= require("./../../img/icon/eye.svg") %>" class="offers-grid__content-img" alt="icon">
                    <p class="offers-grid__content-title text text_position_center text_size_x1_2">Focus mode</p>
                    <p class="offers-grid__content-description text text_position_center">
                        Lorem sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="grid__area flex flex_jc_s-e flex_ai_center characteristics bg bg_color_red" style="--grid-area: characteristics">
        <div>
            <p class="text text_size_x6 text_color_white">400+</p>
            <p class="text text_type_small_title text_color_white">Pictures analyzed</p>
        </div>
        <div>
            <p class="text text_size_x6 text_color_white">25+</p>
            <p class="text text_type_small_title text_color_white">Operations per minute</p>
        </div>
        <div>
            <p class="text text_size_x6 text_color_white">95%</p>
            <p class="text text_type_small_title text_color_white">Accuracy</p>
        </div>
    </section>

    <section class="display-content">
        <div class="grid__area about" style="--grid-area: about-1">
            <div class="about__wrapper main-beginning">
                <h6 class="about__title main-beginning__title text text_type_small_title">Technology</h6>
                <h3 class="about__subtitle main-beginning__subtitle">
                    Use H(app)y to give your digital photos some pop.
                </h3>
                <p class="about__description main-beginning__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros elementum tristique.
                    Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                    Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.
                    Nunc ut sem vitae risus tristique posuere.
                </p>
            </div>
        </div>
        <div class="grid__area about bg bg_color_white-gray" style="--grid-area: about-2">
            <div class="about__wrapper about__wrapper_type_revert flex flex_ff_c_nw flex_ai_end">
                <div class="main-beginning">
                    <h6 class="about__title main-beginning__title text text_type_small_title">Speed & security</h6>
                    <h3 class="about__subtitle main-beginning__subtitle">State-of-the-art processing capabilities.</h3>
                    <p class="about__description main-beginning__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique.
                        Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                        Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.
                        Nunc ut sem vitae risus tristique posuere.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="grid__area flex flex_ff_c_nw flex_ai_center flex_jc_end bg bg_color_black mode main-beginning" style="--grid-area: mode">
        <h6 class="main-beginning__title text text_type_small_title text_color_white">Dark mode</h6>
        <h3 class="main-beginning__subtitle text text_color_white">Also available in dark.</h3>
        <p class="main-beginning__description text text_color_white">
            Don't get blinded when using the H(app)y app at night, just turn off the lights. Lorem ipsum dolor sit amet.
        </p>
        <div class="mode__preview"></div>
        <div class="flex mode__content">
            <span class="mode__content-btn mode__white text text_type_small_title text_color_white">Light Mode</span>
            <span class="mode__content-btn mode__dark text text_type_small_title text_color_white">Dark mode</span>
        </div>
    </section>

    <section class="grid__area prices flex flex_ff_c_nw flex_ai_center prises main-beginning" style="--grid-area: prices">
        <h6 class="main-beginning__title text text_type_small_title text_color_gray">Pricing</h6>
        <h3 class="main-beginning__subtitle">
            A plan for every need.
        </h3>
        <p class="main-beginning__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus.
        </p>
        <div class="prices__container flex flex_jc_center">
            <div class="prices__item prices__item_color_blue bg bg_color_white-gray flex flex_ff_c_nw flex_ai_center">
                <p class="prices__title">Standard</p>
                <p class="prices__price">$9</p>
                <span class="prices__description text text_type_small_title">Monthly</span>
                <button class="prices__btn btn btn_color_blue">Buy now</button>
            </div>
            <div class="prices__item prices__item_color_red bg bg_color_white-gray flex flex_ff_c_nw flex_ai_center">
                <p class="prices__title">Premium</p>
                <p class="prices__price">$99</p>
                <span class="prices__description  text text_type_small_title">Annually</span>
                <button class="prices__btn btn btn_color_red">Buy now</button>
            </div>
            <div class="prices__item prices__item_color_orange bg bg_color_white-gray flex flex_ff_c_nw flex_ai_center">
                <p class="prices__title">Lifetime</p>
                <p class="prices__price">$149</p>
                <span class="prices__description  text text_type_small_title">up front</span>
                <button class="prices__btn btn btn_color_orange">Buy now</button>
            </div>
        </div>
    </section>

    <article class="grid__area flex flex_ff_c_nw flex_ai_center bg bg_color_white-gray comments main-beginning" style="--grid-area: comments">
        <h6 class="main-beginning__title text text_type_small_title title-upper">Pricing</h6>
        <h3 class="main-beginning__subtitle">A plan for every need.</h3>
        <p class="main-beginning__description text text_color_gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus.</p>
        <div class="comments__wrapper flex flex_jc_center flex_ai_start">
            <div class="comment comments__item bg bg_color_white flex">
                <p class="comment__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus.</p>
                <div class="comment_author flex flex_ai_end">
                    <img class="comment__avatar" src="<%= require("./../../img/avatar.png") %>" alt="avatar">
                    <div class="comment__info">
                        <p>Monthly</p>
                        <p class="comment__info-offer">Buy now</p>
                    </div>
                </div>
            </div>
            <div class="comment comments__item bg bg_color_white flex">
                <p class="comment__description">Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus libero ac, cursus quam. Aenean porta neque eget consequat fringilla.</p>
                <div class="comment_author flex flex_ai_end">
                    <img class="comment__avatar" src="<%= require("./../../img/avatar-2.png") %>" alt="avatar">
                    <div class="comment__info">
                        <p>Michael Scott</p>
                        <p class="comment__info-offer">Dunder Mifflin</p>
                    </div>
                </div>
            </div>
            <div class="comment comments__item bg bg_color_white flex">
                <p class="comment__description">Vestibulum ultrices, orci nec egestas pharetra, ligula est semper enim, nec auctor sapien leo nec purus.</p>
                <div class="comment_author flex flex_ai_end">
                    <img class="comment__avatar" src="<%= require("./../../img/avatar-3.png") %>" alt="avatar">
                    <div class="comment__info">
                        <p>Angels Schrute</p>
                        <p class="comment__info-offer">Dunder Mifflin</p>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="grid__area download flex flex_ff_c_nw flex_ai_center main-beginning" style="--grid-area: download">
        <h6 class="main-beginning__title text text_type_small_title">Download</h6>
        <h3 class="main-beginning__subtitle">It's available right now!</h3>
        <p class="main-beginning__description text text_color_gray">Duis tristique sed lorem a vestibulum. Cras commodo consequat orci, in convallis risus egestas non.</p>
        <img class="download__logo" src="<%= require("./../../img/brannd.png") %>" alt="brand">
    </article>

    <article class="grid__area faq bg bg_color_light-gray" style="--grid-area: faq">
        <span class="faq__title">FAQ</span>
        <p class="faq__subtitle">Some questions & some answers</p>
        <div class="faq__content-grid">
            <div>
                <h6 class="faq__content-title">What devices does H(app)y support?</h6>
                <p class="faq__content-devices">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus. Nulla rhoncus feugiat eros quis consectetur. Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula.</p>
            </div>
            <div>
                <h6>How many megapixels does H(app)y support?</h6>
                <p>Nulla rhoncus feugiat eros quis consectetur. Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula. Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt. Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt.</p>
            </div>
            <div>
                <h6>Will my photos magically be more beautiful if I use this app?</h6>
                <p>Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt. Duis tristique sed lorem a vestibulum. Cras commodo consequat orci, in convallis risus egestas non. Nulla efficitur auctor hendrerit.</p>
            </div>
            <div>
                <h6>How many photos can I store in H(app)y?</h6>
                <p>Vestibulum ultrices, orci nec egestas pharetra, ligula est semper enim, nec auctor sapien leo nec purus. Etiam ut orci varius, faucibus libero ac, cursus quam. Aenean porta neque eget consequat fringilla.</p>
            </div>
        </div>
    </article>

    <%= _.template(require('./../inc/footer.html').default)() %>
</body>
</html>
